<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Comments Book</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/library.css">
</head>
<body>
<div id="body">
    <h2>Book comments</h2>
    <table class="table" id="bookstable">
        <thead>
            <tr>
                <th>Book</th>
                <th>customer</th>
                <th>comment</th>
                <th>data</th>
            </tr>
        </thead>
        <tbody id="tablebody">
        <div th:each="comment : ${comments}">
            <tr>
                <td th:text="${comment.book.title}">boot title</td>
                <td th:text="${comment.customer.username}">name</td>
                <td th:text="${comment.commentText}">text</td>
                <td th:text="${comment.commentDate}">date</td>
            </tr>
        </div>
        </tbody>
    </table>
</div><br/>
<div id="back">
    <a class="btn btn-default" th:href="@{/}" href="index.html">Back</a>
</div>
</body>
</html>